<h1> Information for Employee <%= validEmployee.name %> </h1> <br> 
Title: <%= validEmployee.title %> <br> 
Hourly Rate: <%= validEmployee.rate %> <br> 
Hours Worked Per Week: <%= validEmployee.hours_week %> <br> 
Company: <%= validEmployee.company %> <br> 
Years at Company: <%= validEmployee.years_company %> <br> 

Avg Income Per Month: <%=validEmployee.rate*validEmployee.hours_week %> <br> 
Avg Yearly Salary: <%=validEmployee.rate*validEmployee.hours_week*52%> <br> 
